{% include "base.html" %}

{% block container %}
    <!-- <div class="ggg-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-h1">{{ type_str }}</h5>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3 text-h2">Ресурс</dt>
                    <dd class="col-sm-9 text-p">{{ object.product }}</dd>
                    <dt class="col-sm-3 text-h2">Количество</dt>
                    <dd class="col-sm-9 text-p">{{ object.quantity_str }}</dd>
                    <dt class="col-sm-3 text-h2">Цена</dt>
                    <dd class="col-sm-9 text-p">{{ object.price }}</dd>
                    <dt class="col-sm-3 text-h2">Стоимость</dt>
                    <dd class="col-sm-9 text-p">{{ object.cost }}</dd>
                    {% if from_and_to %}
                        <dt class="col-sm-3 text-h2">Исходный склад</dt>
                        <dd class="col-sm-9 text-p">{{ object.from_stock }}</dd>
                        <dt class="col-sm-3 text-h2">Новый склад</dt>
                        <dd class="col-sm-9 text-p">{{ object.to_stock }}</dd>
                    {% else %}
                        <dt class="col-sm-3 text-h2">Cклад</dt>
                        <dd class="col-sm-9 text-p">{{ object.stock }}</dd>
                    {% endif %}
                    <dt class="col-sm-3 text-h2">Дата операции</dt>
                    <dd class="col-sm-9">{{ object.date }}</dd>
                    {% if can_edit %}
                        <a href="{% url 'operation-update' object.pk %}" class="login__btn text-p">Редактировать</a>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div> -->
    

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Ресурс</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Стоимость</th>
                    {% if from_and_to %}
                        <th>Исходный склад</th>
                        <th>Новый склад</th>
                    {% else %}
                        <th>Cклад</th>
                    {% endif %}
                    <th>Дата операции</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ object.product }}</td>
                    <td>{{ object.quantity_str }}</td>
                    <td>{{ object.price }}</td>
                    <td>{{ object.cost }}</td>
                    {% if from_and_to %}
                        <td>{{ object.from_stock }}</td>
                        <td>{{ object.to_stock }}</td>
                    {% else %}
                        <td>{{ object.stock }}</td>
                    {% endif %}
                    <td>{{ object.date }}</td>
                </tr>
            </tbody>
                    
        </table>
        
        <div class="stock__item">   
                {% if can_edit %}
                    <a href="{% url 'operation-update' object.pk %}" class="login__btn text-p">Редактировать</a>
                 {% endif %}
        </div>     
    </div>

{% endblock %}
