{% include "base.html" with page_title=course.name %}

{% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <style>
            .container {
                text-align: -webkit-center;
            }

            .card {
                margin: 50px;
            }

            .btn {
                margin-left: 8px;
            }

            .test {
                display: flex;
            }
        </style>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block container %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{ type_str }}</h5>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Ресурс</dt>
                    <dd class="col-sm-9">{{ object.product }}</dd>
                    <dt class="col-sm-3">Количество</dt>
                    <dd class="col-sm-9">{{ object.quantity_str }}</dd>
                    <dt class="col-sm-3">Цена</dt>
                    <dd class="col-sm-9">{{ object.price }}</dd>
                    <dt class="col-sm-3">Стоимость</dt>
                    <dd class="col-sm-9">{{ object.cost }}</dd>
                    {% if from_and_to %}
                        <dt class="col-sm-3">Исходный склад</dt>
                        <dd class="col-sm-9">{{ object.from_stock }}</dd>
                        <dt class="col-sm-3">Новый склад</dt>
                        <dd class="col-sm-9">{{ object.to_stock }}</dd>
                    {% else %}
                        <dt class="col-sm-3">Cклад</dt>
                        <dd class="col-sm-9">{{ object.stock }}</dd>
                    {% endif %}
                    <dt class="col-sm-3">Дата операции</dt>
                    <dd class="col-sm-9">{{ object.date }}</dd>
                    {% if can_edit %}
                        <a href="{% url 'operation-update' object.pk %}" class="btn btn-primary">Редактировать</a>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>

{% endblock %}
