{% include "base.html" with page_title='Смена пароля' %}

{% block container %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:80vh;">
            <div class="col-auto border p-3">
                {% if next %}
                    {% if user.is_authenticated %}
                        <p class="bg-warning p-1">Недостаточно прав</p>
                    {% else %}
                        <p class="bg-secondary">Войдите в аккаунт для доступа к этой странице</p>
                    {% endif %}
                {% endif %}
                <form method="post" action="{% url 'password_change' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-warning" type="submit" value="Сменить пароль"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}