.login {
    display: flex;
    flex-direction: row;
}
.login__container {
    width: 380px;
    margin: 80px auto;
    padding: 0 20px;
}

.login__title {
    text-align: center;
    margin-bottom: 10px;
}

.form-recovery {
    margin-bottom: 55px;
    text-align: center;
    width: 100%;
}

.login-form {
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 16px 32px;
    align-items: center;
    width: 100%;
    height: 50px;
    background: rgba(95, 105, 130, 0.25);
    border-radius: 12px;
    border: none;
}

.recovery__btn {
    align-items: center;
    color: var(--dark-color);
    text-decoration: none;
}

.recovery__btn:hover {
    color: var(--blue-color);
}

.login-sign {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login__btn {
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    padding: 16px 32px;
    color: var(--white-color);

    background-color: var(--blue-color);
    border-radius: 12px;
    border: none;

    transition: background-color .2s linear;

}

.login__btn:hover {
    background-color: var(--grey-color);
}
.signup__btn {
    width: 100%;
    height: 50px;
    padding: 16px 32px;
    text-decoration: none;

    background-color: var(--white-color);

    border: 1px solid var(--dark-color);
    box-shadow: 0px 2px 4px var(--dark-color);
    border-radius: 10px;
    border: none;

    transition: background-color .2s linear;
}
.signup__btn:hover {
    background-color: var(--light-color);
}


@media screen and (max-width: 480px) {
    .login__container {
        width: 80%;
    }
}