/* НАВИГАЦИЯ */
.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burger_line {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 4px;
    background-color: var(--blue-color);
}

.burger_line:last-child {
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

ul#slide-out:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
  }
  
ul#slide-out:not(.browser-default) > li {
    list-style-type: none;
  }
  
.burger {
    display: none;
}

.sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;

  }

  
  .sidenav .collapsible {
    margin: 0;
  }
  
  .sidenav li {
    float: none;
    line-height: 48px;
  }
  
  .sidenav li.active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav li > a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
  }
  
  .sidenav li > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav .collapsible-body {
    padding: 0;
  }
  
  .sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    display: none;
  }

.header {
    margin-top: 20px;
}

.header__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    padding: 0 20px;
}
.header__logo {
    width: 48px;
    height: 48px;
    text-decoration: none;
    font-size: 31px;
    letter-spacing: 4.65px;
}
.header-link__items {
    display: flex;
    justify-content: space-between;
    /* padding-left: 0; */
}
.header-link {
    text-decoration: none;
    margin-right: 60px;
    color: var(--dark-color);

    transition: color .2s linear;
}
.header-link:hover {
    color: var(--blue-color);
}

.header__alert{
    width: 32px;
    height: 32px;
    margin-right: 57px;
}
.header__account {
    width: 32px;
    height: 32px;
}
/* ПРОФИЛЬ */
.prof__cont{
    padding: 0 20px;
}
.profile__title {
    display: flex;
    margin-top: 31px;
    margin-bottom: 20px;
}
.profile__arrow {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.profile__container {
    /* max-height: 310px; */
    background: rgba(55, 71, 79, 0.07);
    border-radius: 24px;
    margin-bottom: 90px;
}
.profile__flex {
    display: flex;
    flex-wrap: wrap;
    /* padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 30px; */
    padding: 30px 20px;
}
.profile__img {
    width: 300px;
    height: 300px;
    border-radius: 16px;
    margin-right: 90px;
    object-fit: cover;
}
.profile__left-flex {
    margin-right: 160px;
}
.profile__content {
    margin-bottom: 30px;
}
.profile__subtitle {
    margin-bottom: 10px;
    color: var(--blue-color);
}
.profile__text {
    color: var(--dark-color);
}
.profile__btns {
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.profile__btn {
    order: 1;
    width: 50%;
    height: 50px;
    margin-top: 30px;
    margin-right: 30px;
    text-align: center;

    text-decoration: none;
    
    padding: 16px 32px;
    color: var(--white-color);

    background-color: var(--blue-color);
    border-radius: 12px;
    border: none;

    transition: background-color .2s linear;
}
.profile__btn:hover {
    background-color: var(--grey-color);
}
.profile__btn:last-child {
    margin-right: 0;
}
@media screen and (max-width: 1024px) {
    .profile__flex {
        /* flex-wrap: unset; */
    }
    .profile__left-flex {
        margin-right: 50px;
    }
    .profile__img {
        margin-right: 50px;
    }
}

@media screen and (max-width: 768px) {
    .profile__flex {
        justify-items: center;
    }
    .profile__img {
       order: -1;
       margin-bottom: 40px; 
    }
    .profile__left-flex {
        order: 0;
        /* break-after: always; */
    }
    .profile__right-flex {
        order: 0;
    }
    .profile__btn {
        order: 1;
        margin-top: 20px;
    }

    .profile__card-flex {
        grid-template-columns: 1fr;
        justify-items: center;
    }

}

@media screen and (max-width: 480px) {
    .profile__img {
        width: 60%;
        height: auto;
    }
}
/* 
@media screen and (max-width: 1024px) {

    .burger {
        display: flex;
    }

    .header__links {
        padding: 0 20px;
        
    }
    .header-link__items {
        display: none;
    }
    .burger {
        visibility: visible;
    }
}

@media screen and (max-width: 480px) {
    .header__logo {
        font-size: 24px;
    }
} */