{% include "base.html" with page_title=profile %}
{% block container %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Анкета пользователя</h5>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">ФИО</dt>
                    <dd class="col-sm-9">{{ profile.surname }} {{ profile.name }} {{ profile.patronymic|default_if_none:"" }}</dd>
                    <dt class="col-sm-3">О себе</dt>
                    <dd class="col-sm-9">{{ profile.bio|default_if_none:"&#10060" }}</dd>
                    <dt class="col-sm-3">Сотрудник</dt>
                    {% if is_profile_staff %}
                        <dd class="col-sm-9">Да</dd>
                    {% else %}
                        <dd class="col-sm-9">Нет</dd>
                    {% endif %}
                    {% if profile.photo %}
                        <dt class="col-sm-3">Фото</dt>
                        <dd class="col-sm-9">
                            <img src="{{ profile.photo.url }}" alt="Фото не загружено" height="200">
                        </dd>
                    {% endif %}
                    {% if profile.id == user.profile.id or user.is_superuser %}
                        <a href="{% url 'profile-update' profile.id %}" class="btn btn-primary">Редактировать</a>
                    {% else %}
                        <a class="btn btn-primary disabled">Редактировать</a>
                    {% endif %}
                    {% if profile.id == user.profile.id %}
                        <a href="{% url 'logout' %}" class="btn btn-danger">Выйти</a>
                        <a href="{% url 'password_change' %}" class="btn btn-warning">Смена пароля</a>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>

{% endblock %}