{% include "base.html" %}
{% block custom_css %}
    <style>
        .table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
    margin-bottom: 40px; 
}
.table th {
    text-align: center;
	font-weight: bold;
	padding: 15px;
	background: #efefef;
	border: 1px solid var(--grey-color);
}
.table td {
    text-align: center;
	border: 1px solid var(--grey-color);
	padding: 15px;
}
    </style>
{% endblock %}
{% block container %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Адрес</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.address }}</td>

                </tr>
            </tbody>
                    
        </table>
                {% if can_edit %}
                    <a href="{% url 'stock-update' object.pk %}" class="login__btn text-p">Редактировать</a>
                {% endif %}
    </div>

{% endblock %}
